<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191162173668-tqvs90r7la62ga01vh3ucduiu0gdm0v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191162173668-tqvs90r7la62ga01vh3ucduiu0gdm0v3</string>
	<key>API_KEY</key>
	<string>AIzaSyBLnp6cdWVF8EuM_ex3AGNp86BZp6noyNA</string>
	<key>GCM_SENDER_ID</key>
	<string>191162173668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thisIsNigeria</string>
	<key>PROJECT_ID</key>
	<string>this-is-nigeria-9db35</string>
	<key>STORAGE_BUCKET</key>
	<string>this-is-nigeria-9db35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191162173668:ios:030be90bfd574ea344c4f1</string>
</dict>
</plist>